.jumbotro {
    background: rgba(0, 49, 185, 0.685);
}

.nav-link:active {
    background: rgba(255, 255, 2555, 0.185);
}

hr {
    background: rgba(255, 255, 2555, 0.5);
}

.box {
    background-color: #00000059;
}

.boxs {
    min-width: 180px;
}

.footer {
    background: #00000059;
}