table tbody tr td.btn-delete {
    cursor: pointer;
    transition: all 400ms;
}

table tbody tr td.btn-delete:hover {
    cursor: pointer;
    color: red;
}

table tbody tr td.btn-delete:active {
    color: brown;
}

.title-list-permissions i.fa-plus {
    color: #2f00ff;
    cursor: pointer;
    transition: all 400ms;
}

.title-list-permissions i.fa-plus:hover {
    color: #0077ff;
}

.title-list-permissions i.fa-plus:active {
    color: #0d0080;
}